* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main1 {
    position: relative;
    width: 298px;
    border: 3px solid black;
    border-radius: 6px;
    background: #404975;
    margin-top: 9px;
}

input {
    padding: 23px;
    font-size: 1em;
    width: 72px;
    border: none;
    outline: none;
    border-radius: 40px;
}

#three,
#two,
#six,
#four,
#eight,
#seven,
#one,
#five,
#nine {
    background-color: wheat;
}

#three,
#two,
#six,
#four,
#eight,
#seven,
#one,
#five,
#nine {
    background-color: wheat;
}

#operation2,
#operation3,
#operation4,
#operation5,
#zero,
#dot,
#sum,
#result {
    background-color: red;
}

input[type="text"] {
    width: 230px;
}

#clear {
    background-color: lightgreen;
}

button {
    border: none;
    background-color: rgb(41, 38, 38);
    padding: 9px;
    color: red;
    margin: 2px;
    outline: none;
    border-radius: 3px;
    font-size: 1em;
    font-weight: 200;
}

a {
    background-color: rgb(41, 38, 38);
    padding: 7px;
    color: yellow;
}
